App/SWPlayer/SWDemo/Debug
App/SWPlayer/SWDemo/Release
App/SWPlayer/SWDemo/ipch
App/SWPlayer/SWDemo/SWDemoSetup/Debug
App/SWPlayer/SWDemo/SWDemoSetup/Release
App/SWPlayer/SWDemo/SWDemo/Debug
App/SWPlayer/SWDemo/SWDemo/Release
App/SWPlayer/SWDemo/SWDemo/ipch
App/SWPlayer/SWDemo/SWDemo/res
Research/FaceMorphing/Data
Research/FaceMorphing/DataAuto
Research/FaceMorphing/Data_y
Research/FaceMorphing/Data_yubo
Research/FaceMorphing/Data_z
Research/KalmanFiltering/DataKalman
Research/KalmanFiltering/DataKalman2
Research/KalmanFiltering/DataKalmanPredict
Research/KalmanFiltering/DataKalmanPredictTmp
Research/KalmanFiltering/DataRaw
Research/KalmanFiltering/DataSimpRange
Research/ImageSegmentationDemo/ImageSegmentationDemo/Properties
Research/ImageSegmentationDemo/ImageSegmentationDemo/bin
Research/ImageSegmentationDemo/ImageSegmentationDemo/obj
Research/Kinect/SegmentKinectVideos/Debug
Research/Kinect/SampleDepthMapSktIO/Debug
Research/Kinect/SampleDepthMapSktIO/Release
Research/Kinect/SampleDepthMapSktIO/SampleDepthMapSktIO/Debug
Research/Kinect/SampleDepthMapSktIO/SampleDepthMapSktIO/Release
Research/Kinect/SampleDepthMapSktIO/SampleDepthMapSktIO/ipch
Research/Kinect/SampleDepthMapSktIO/ipch
Research/Kinect/SegmentKinectVideos/SegmentKinectVideos/Debug
Research/Kinect/SegmentKinectVideos/ipch
Research/ParticleFiltering/particleFilterTrackTest/Debug
Research/ParticleFiltering/particleFilterTrackTest/Release
Research/ParticleFiltering/particleFilterTrackTest/ipch
Research/ParticleFiltering/particleFilterTrackTest/_UpgradeReport_Files
Tools/MixCAndCSharp/CPPBasedCSharpProject/Properties
Tools/MixCAndCSharp/CPPBasedCSharpProject/bin
Tools/MixCAndCSharp/CPPBasedCSharpProject/obj
Tools/MixCAndCSharp/Debug
Tools/MixCAndCSharp/MgdLib/Debug
Tools/MixCAndCSharp/PureCPPSLib/Debug
Tools/MixCAndCSharp/PureCPPSLib/Release
Tools/MixcAndCSharp/Release
Tools/MixCAndCSharp/ipch
Tools/LearningOpenCV/LearningOpenCV/Debug
Tools/LearningOpenCV/LearningOpenCV/LearningOpenCV/Debug
Tools/LearningOpenCV/LearningOpenCV/ipch
Tools/CSharpConsole/CsharpConsole/Properties
Tools/CSharpConsole/CsharpConsole/bin
Tools/CSharpConsole/CsharpConsole/obj
Tools/CSharpConsole/MyThreadWalkthroughApp
Fun/POJ/1001/Exponentiation/Debug/
Fun/POJ/1001/Exponentiation/Exponentiation.sln
Fun/POJ/1001/Exponentiation/ipch/
Research/ParticleFiltering/FromShunli/Video/
Tools/LearningOpenCV/CamShift/CamShift/Data/
Tools/LearningOpenCV/CamShift/CamShift/Debug/
Tools/LearningOpenCV/CamShift/Debug/
Tools/LearningOpenCV/CamShift/ipch/
Tools/LearningOpenCV/DetectorsAndDescriptors/ipch/
Tools/LearningOpenCV/LKDemo/Debug/
Tools/LearningOpenCV/LKDemo/LKDemo/Debug/
Tools/LearningOpenCV/LKDemo/ipch/
Tools/LearningOpenCV/MotionTempl/Debug/
Tools/LearningOpenCV/MotionTempl/MotionTempl/Debug/
Tools/LearningOpenCV/MotionTempl/ipch/
Tools/LearningOpenCV/SIFTDemo/Debug/
Tools/LearningOpenCV/SIFTDemo/SIFTDemo/Debug/
Tools/LearningOpenCV/SIFTDemo/ipch/
Tools/WinSocket/Client/Debug/
Tools/WinSocket/Debug/
Tools/WinSocket/WinSocket/Debug/
Tools/WinSocket/ipch/
Tools/LearningOpenCV/DetectorsAndDescriptors/DetectorsAndDescriptors/Debug/
Tools/LearningOpenCV/DetectorsAndDescriptors/Debug
Tools/LearningOpenCV/SurfDescriptor/Debug/
Tools/LearningOpenCV/SurfDescriptor/SurfDescriptor/Debug/
Tools/LearningOpenCV/SurfDescriptor/ipch/
Tools/LearningOpenCV/ParticleTracking/ipch/
Tools/LearningOpenCV/ParticleTracking/Debug/
Tools/LearningOpenCV/ParticleTracking/ParticleTracking/Debug/
*.bmp
*.sdf
*.filters
*.user
*.suo
*.opensdf
