App/SWPlayer/SWDemo/Debug
App/SWPlayer/SWDemo/Release
App/SWPlayer/SWDemo/ipch
App/SWPlayer/SWDemo/SWDemoSetup/Debug
App/SWPlayer/SWDemo/SWDemoSetup/Release
App/SWPlayer/SWDemo/SWDemo/Debug
App/SWPlayer/SWDemo/SWDemo/Release
App/SWPlayer/SWDemo/SWDemo/ipch
App/SWPlayer/SWDemo/SWDemo/res
Research/FaceMorphing/Data
Research/FaceMorphing/DataAuto
Research/FaceMorphing/Data_y
Research/FaceMorphing/Data_yubo
Research/FaceMorphing/Data_z
Research/KalmanFiltering/DataKalman
Research/KalmanFiltering/DataKalman2
Research/KalmanFiltering/DataKalmanPredict
Research/KalmanFiltering/DataKalmanPredictTmp
Research/KalmanFiltering/DataRaw
Research/KalmanFiltering/DataSimpRange
Research/ImageSegmentationDemo/ImageSegmentationDemo/Properties
Research/ImageSegmentationDemo/ImageSegmentationDemo/bin
Research/ImageSegmentationDemo/ImageSegmentationDemo/obj
Research/Kinect/SegmentKinectVideos/Debug
Research/Kinect/SampleDepthMapSktIO/Debug
Research/Kinect/SampleDepthMapSktIO/Release
Research/Kinect/SampleDepthMapSktIO/SampleDepthMapSktIO/Debug
Research/Kinect/SampleDepthMapSktIO/SampleDepthMapSktIO/Release
Research/Kinect/SampleDepthMapSktIO/SampleDepthMapSktIO/ipch
Research/Kinect/SampleDepthMapSktIO/ipch
Research/Kinect/SegmentKinectVideos/SegmentKinectVideos/Debug
Research/Kinect/SegmentKinectVideos/ipch
Research/ParticleFiltering/particleFilterTrackTest/Debug
Research/ParticleFiltering/particleFilterTrackTest/Release
Research/ParticleFiltering/particleFilterTrackTest/ipch
Research/ParticleFiltering/particleFilterTrackTest/_UpgradeReport_Files
Tools/MixCAndCSharp/CPPBasedCSharpProject/Properties
Tools/MixCAndCSharp/CPPBasedCSharpProject/bin
Tools/MixCAndCSharp/CPPBasedCSharpProject/obj
Tools/MixCAndCSharp/Debug
Tools/MixCAndCSharp/MgdLib/Debug
Tools/MixCAndCSharp/PureCPPSLib/Debug
Tools/MixCAndCSharp/PureCPPSLib/Release
Tools/MixcAndCSharp/Release
Tools/MixCAndCSharp/ipch
Tools/LearningOpenCV/LearningOpenCV/Debug
Tools/LearningOpenCV/LearningOpenCV/LearningOpenCV/Debug
Tools/LearningOpenCV/LearningOpenCV/ipch
Tools/CSharpConsole/CsharpConsole/Properties
Tools/CSharpConsole/CsharpConsole/bin
Tools/CSharpConsole/CsharpConsole/obj
Tools/CSharpConsole/MyThreadWalkthroughApp
Fun/POJ/1001/Exponentiation/Debug/
Fun/POJ/1001/Exponentiation/Exponentiation.sln
Fun/POJ/1001/Exponentiation/ipch/
Research/ParticleFiltering/FromShunli/Video/
Tools/LearningOpenCV/CamShift/CamShift/Data/
Tools/LearningOpenCV/CamShift/CamShift/Debug/
Tools/LearningOpenCV/CamShift/Debug/
Tools/LearningOpenCV/CamShift/ipch/
Tools/LearningOpenCV/DetectorsAndDescriptors/ipch/
Tools/LearningOpenCV/LKDemo/Debug/
Tools/LearningOpenCV/LKDemo/LKDemo/Debug/
Tools/LearningOpenCV/LKDemo/ipch/
Tools/LearningOpenCV/MotionTempl/Debug/
Tools/LearningOpenCV/MotionTempl/MotionTempl/Debug/
Tools/LearningOpenCV/MotionTempl/ipch/
Tools/LearningOpenCV/SIFTDemo/Debug/
Tools/LearningOpenCV/SIFTDemo/SIFTDemo/Debug/
Tools/LearningOpenCV/SIFTDemo/ipch/
Tools/WinSocket/Client/Debug/
Tools/WinSocket/Debug/
Tools/WinSocket/WinSocket/Debug/
Tools/WinSocket/ipch/
Tools/LearningOpenCV/DetectorsAndDescriptors/DetectorsAndDescriptors/Debug/
Tools/LearningOpenCV/DetectorsAndDescriptors/Debug
Tools/LearningOpenCV/SurfDescriptor/Debug/
Tools/LearningOpenCV/SurfDescriptor/SurfDescriptor/Debug/
Tools/LearningOpenCV/SurfDescriptor/ipch/
Tools/LearningOpenCV/ParticleTracking/ipch/
Tools/LearningOpenCV/ParticleTracking/Debug/
Tools/LearningOpenCV/ParticleTracking/ParticleTracking/Debug/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/Dbug/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/PrticleTracking/Debug/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/PrticleTracking/Release/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/PrticleTracking/x64/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/Rlease/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/ich/
Tools/LearningOpenCV/DetectorsAndDescriptors/DetectorsAndDescriptors/deectors_descriptors_evaluation/
Tools/LearningOpenCV/ParticleTracking/ParticleTracking/Release/
Tools/LearningOpenCV/ParticleTracking/Release/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/Debug/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/ParticleTracking/Debug/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/ParticleTracking/Release/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/ParticleTracking/x64/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/Release/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/ipch/
Tools/LearningOpenCV/DetectorsAndDescriptors/DetectorsAndDescriptors/detectors_descriptors_evaluation/
Fun/SecondCannon/AmicableNumber/AmicableNumber/Properties/
Fun/SecondCannon/AmicableNumber/AmicableNumber/bin/
Fun/SecondCannon/AmicableNumber/AmicableNumber/obj/
Fun/SecondCannon/DNA/DNA/Properties/
Fun/SecondCannon/DNA/DNA/bin/
Fun/SecondCannon/DNA/DNA/obj/
Fun/SecondCannon/First/First/Properties/
Fun/SecondCannon/First/First/bin/
Fun/SecondCannon/First/First/obj/
Fun/SecondCannon/LeastMoney/LeastMoney/Properties/
Fun/SecondCannon/LeastMoney/LeastMoney/bin/
Fun/SecondCannon/LeastMoney/LeastMoney/obj/
Fun/SecondCannon/Skiing/Skiing/Properties/
Fun/SecondCannon/Skiing/Skiing/bin/
Fun/SecondCannon/Skiing/Skiing/obj/
Fun/SecondCannon/Snake/Snake/Properties/
Fun/SecondCannon/Snake/Snake/bin/
Fun/SecondCannon/Snake/Snake/obj/
Fun/SecondCannon/Travel/Travel/Properties/
Fun/SecondCannon/Travel/Travel/bin/
Fun/SecondCannon/Travel/Travel/obj/
Fun/SecondCannon/Typer/Typer/Properties/
Fun/SecondCannon/Typer/Typer/app.config
Fun/SecondCannon/Typer/Typer/bin/
Fun/SecondCannon/Typer/Typer/obj/
Tools/LearningOpenCV/CameraCalibration/CameraCalibration/Debug/
Tools/LearningOpenCV/CameraCalibration/Debug/
Tools/LearningOpenCV/CameraCalibration/ipch/
Tools/LearningOpenCV/Data/
Tools/LearningOpenCV/CalibSample/CalibSample/Debug/
Tools/LearningOpenCV/CalibSample/Debug/
Tools/LearningOpenCV/CalibSample/ipch/
App/AudioCapture/AudioCapture/Debug/
App/AudioCapture/AudioCapture/res/
App/AudioCapture/Debug/
App/VideoCapture/Debug/
App/VideoCapture/Release/
App/VideoCapture/VideoCapture/Debug/
App/VideoCapture/VideoCapture/Release/
App/VideoCapture/VideoCapture/res/
App/VideoCapture/ipch/
Fun/Other/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/ParticleTracking/ipch/
Research/ParticleFiltering/ParticleTrackingFrameWork/ParticleTracking/x64/
Tools/LearningOpenCV/CamShift/CamShift/ipch/
Tools/LearningOpenCV/CamShift/CamShift/x64/
Tools/LearningOpenCV/CamShift/x64/
Tools/LearningOpenCV/LearningOpenCV/LearningOpenCV/x64/
Tools/LearningOpenCV/LearningOpenCV/x64/
Tools/LearningOpenCV/ParticleTracking/ParticleTracking/x64/
Tools/LearningOpenCV/ParticleTracking/x64/
Tools/LearningPython/Alarm/.idea/
Tools/LearningPython/WebCam/.idea/
App/TMReceiverDemo/Debug/
App/TMReceiverDemo/Include/
App/TMReceiverDemo/Lib/
App/TMReceiverDemo/TMReceiverDemo/Debug/
App/TMReceiverSrc/Debug/
App/TMReceiverSrc/Lib/
App/TMReceiverSrc/TMReceiver/Debug/
App/TMReceiverSrc/TMReceiverGraph/Debug/
App/TMReceiverSrc/TMReceiverSrc/Debug/
App/TransAlgFilter/Debug/
App/TransAlgFilter/TransAlgFilter/Debug/
App/TransAlgFilter/TransAlgFilter/ipch/
Research/LocateStudent/Debug/
Research/LocateStudent/LocateStudent/Debug/
Research/LocateStudent/ipch/
Research/TrackingByGBM/Data/
Research/TrackingByGBM/Debug/
Research/TrackingByGBM/Release/
Research/TrackingByGBM/TrackingByGBM/Debug/
Research/TrackingByGBM/TrackingByGBM/Release/
Research/TrackingByGBM/ipch/
Research/TrackingTeacher/Data/
Research/TrackingTeacher/Debug/
Research/TrackingTeacher/TrackingTeacher/Debug/
Research/TrackingTeacher/ipch/
Tools/LearningACE/Acceptor/Acceptor/Debug/
Tools/LearningACE/Acceptor/Connector/Debug/
Tools/LearningACE/Acceptor/Debug/
Tools/LearningACE/SimpleServer/Debug/
Tools/LearningACE/SimpleServer/SimpleServer/Debug/
Tools/LearningOpenCV/GaussianBGM/Debug/
Tools/LearningOpenCV/GaussianBGM/GaussianBGM/Debug/
Tools/LearningOpenCV/GaussianBGM/GaussianBGM/Release/
Tools/LearningOpenCV/GaussianBGM/Release/
Tools/LearningOpenCV/GaussianBGM/ipch/
*.bmp
*.sdf
*.filters
*.user
*.suo
*.opensdf
*.vsp
*.sln
*.zip
*.psess
*.aps
